# Tipos de datos

* String: Cadenas de texto o caracteres
* La funcion type() nos ayuda a saber el tipo de la variable
* Números (enteros)
* Booleans (True or False) (La primera letra debe ir en mayuscula)
* Los inputs por default son strings

## Strings

In [2]:
name = 'Laura'
lastname = 'Sánchez'
print(name, lastname)

Laura Sánchez

In [3]:
full_name = name + lastname
print(full_name)

LauraSánchez

In [4]:
full_name = name + ' ' + lastname
print(full_name)

Laura Sánchez

In [7]:
# Formato: Sirve para darl estructura a nuestro texto
template = 'Hello, my name is {} and my lastname is {}'.format(name, lastname)
print(template)

Hello, my name is Laura and my lastname is Sánchez

In [8]:
# De una forma más corta
print(f'Hello, my name is {name} and my lastname is {lastname}')

Hello, my name is Laura and my lastname is Sánchez

## Numbers

* Numeros enteros 1-2-3-4
* Numeros flotantes (precisi´ón decimal 12.5)

In [9]:
lives = 3
print(type(lives))

<class 'int'>

In [10]:
temp = 15.12
print(type(temp))

<class 'float'>

In [14]:
lives = 12 + 15
lives

27

In [15]:
lives = lives - 1
lives

26

In [16]:
lives -= 1
lives

25

In [17]:
lives += 5
lives

30

In [20]:
num1  = 45000000000000000000000000000000000000.02
num2 = 0.00000000000000000000000000000000000000001
# Numeros muy grandes o muy pequeños, Python lo representa con notación cientifica
print(num1)
print(num2)

4.5e+37
1e-41

In [22]:
# Presupuesto 
ene = float(input('Ingresa el presupuesto de enero: $ '))
feb = float(input('Ingresa el presupuesto de febrero: $ '))
mar = float(input('Ingresa el presupuesto de marzo: $ '))

print(f'El presupuesto promedio es $ {round(((ene + feb + mar) / 3),2)}')

El presupuesto promedio es $ 697.91

## Booleans

Solo puede ser Verdadero (True) o Falso (False)

In [24]:
is_single = True
print(is_single)
print(type(is_single))

True
<class 'bool'>

In [25]:
# Transformandolo a lo contrario con el operador 'not'
print(not is_single)

False

In [26]:
print(not True)

False

In [27]:
print(not False)

True

## Transformación de tipos

En Python se puede cambiar el tipo de datos de manera dinamica, el solito distingue el tipo de dato, no es necesario hacer la declaración como en otros lenguajes de programación. 

* La función str() transforma al formato string
* La función int() transforma al formato de número entero