# Listas y diccionarios

## String recargado

In [1]:
text = 'Ella sabe programar en Python'
print('JavaScript' in text)
print('Python' in text)

False
True

In [2]:
# Tamaño del string (contando los espacio)
len(text)

29

In [7]:
print(text)
# Todo a mayusculas
print(text.upper())
# Todo a minusculas
print(text.lower())

Ella sabe programar en Python
ELLA SABE PROGRAMAR EN PYTHON
ella sabe programar en python

In [8]:
# Contar cuantas veces se repite una letra en un texto
print(text.count('a'))

4

In [10]:
# De mayusculas a minusculas, y de minusculas a mayusculas
print(text)
print(text.swapcase())

Ella sabe programar en Python
eLLA SABE PROGRAMAR EN pYTHON

In [11]:
# Empieza con
text.startswith('Ella')

True

In [12]:
# Finaliza con
text.endswith('JavaScript')

False

In [14]:
# Reemplazar
text.replace('Python', 'Go')

'Ella sabe programar en Go'

In [15]:
text2 = 'este es un titulo'
print(text2)

este es un titulo

In [16]:
# Poner el primer caracter en mayuscula
text2.capitalize()

'Este es un titulo'

In [17]:
# Poner en mayusculas la primera letra de las palabras que componen la cadena de texto
text2.title()

'Este Es Un Titulo'

In [18]:
# Es un digito? 
text2.isdigit()

False

In [19]:
'4569'.isdigit()

True

In [20]:
opcion = input('Ingresa piedra, papel o tijera: ')

opcion = opcion.lower()

if opcion == 'piedra':
    print('papel')
elif opcion == 'papel':
    print('tijera')
elif opcion == 'tijera':
    print('piedra')
else:
    print('Por favor ingrese una opción valida para jugar')

papel

## Indexing y slicing

* Indexing --> Los textos tienen un indicador, en el cual yo puedo ingresar a nivel de posiciones
> Cada una de estas posiciones viene dada por un número especifico que es la posición donde se encuentra

* Slicing --> Basado en las posiciones de los caracteres dentro nuestro string, se pueden sacar ciertas partes del texto

In [21]:
texto = 'Ella sabe Python'

In [22]:
texto[0]

'E'

In [23]:
texto[1]

'l'

In [24]:
texto[45]

IndexError: string index out of range

In [26]:
texto[-1]

'n'

In [27]:
# Slicing
print(texto[0:5])

Ella

In [28]:
print(texto[10:16])

Python

In [29]:
# Si no se le dice nada al principio, asume el cero
print(texto[:10])

Ella sabe

In [30]:
# Si no se le dice nada al final, asume hasta el ultimo caracter
print(texto[5:])

sabe Python

In [33]:
print(texto[:])

Ella sabe Python

In [37]:
# En la tercera posición se pone los saltos, y se refiere a cuantos caracteres voy a saltar a partir de ese string
print(texto[10:16:1])
print(texto[10:16:2])
print(texto[10:16:3])
print(texto[10:16:4])

Python
Pto
Ph
Po

In [38]:
print(texto[::2])

El aePto

## Listas

* Puede guardar varios elementos de diferentes tipos
* Se puede almacenar información más compleja, de diferentes tipos en una estructura de datos

In [39]:
numbers = [1, 2, 3, 4, 5]
print(numbers)
print(type(numbers))

[1, 2, 3, 4, 5]
<class 'list'>

In [40]:
tasks = ['make the dishes', 'make the bed']
print(tasks)

['make the dishes', 'make the bed']

In [41]:
types = ['Hola', 1, True]
print(types)

['Hola', 1, True]

In [42]:
print(numbers[0])

1

In [43]:
print(tasks[0])

make the dishes

In [44]:
# Los string NO son mutables
text = 'Hola'
text[0] = 'W'

TypeError: 'str' object does not support item assignment

In [45]:
# Las listas son mutables
tasks[0] = 'Watch Platzi courses'
print(tasks)

['Watch Platzi courses', 'make the bed']

In [47]:
numbers[:3]

[1, 2, 3]

In [48]:
True in types

True

In [50]:
'Holaa' in types

False

## Métodos de listas

CRUD --> Create, Read, Update & Delete 

En una estructura de datos, se deben poder hacer estas 4 tareas

In [52]:
# Crear
numbers = [1, 2, 3, 4, 5]
numbers

[1, 2, 3, 4, 5]

In [53]:
# Leer
numbers[3]

4

In [54]:
# Actualizar
numbers[4] = 6
numbers

[1, 2, 3, 4, 6]

In [55]:
# Agregar nuevos elementos a la lista
numbers.append(500)
numbers

[1, 2, 3, 4, 6, 500]

In [56]:
# Insertar al inicio de la lista
# insert(posicion en la lista, elemento a insertar)
numbers.insert(0, 'Holi')
numbers

['Holi', 1, 2, 3, 4, 6, 500]

In [57]:
numbers.insert(3, 'Permiso')
numbers

['Holi', 1, 2, 'Permiso', 3, 4, 6, 500]

In [58]:
# Fusianando listas
numbers + tasks

['Holi', 1, 2, 'Permiso', 3, 4, 6, 500, 'Watch Platzi courses', 'make the bed']

In [59]:
# Para saber en que posición esta un elemnto en una lista
numbers.index('Permiso')

3

In [60]:
numbers[3]

'Permiso'

In [62]:
# Para eliminar un elemento
numbers.remove('Holi')
numbers

[1, 2, 'Permiso', 3, 4, 6, 500]

In [63]:
# Eliminar el ultimo elemnto de una lista
numbers.pop()
numbers

[1, 2, 'Permiso', 3, 4, 6]

In [64]:
#pop(posicion)
numbers.pop(2)
numbers

[1, 2, 3, 4, 6]

In [70]:
# Cambiar de posición los elmentos de la lista con reverse()
print(numbers)

[1, 2, 3, 4, 6]

In [73]:
numbers.reverse()
numbers

[6, 4, 3, 2, 1]

In [76]:
# Ordenar los elementos de una lista (ordena de menor a mayor)
numbers1 = [1, 4, 6, 3]
numbers1.sort()
numbers1

[1, 3, 4, 6]

In [78]:
# El metodo sort tambien ordena los strings A --> Z (NO ORDENA LISTAS CON DIFERENTES TIPOS DE DATOS)
strings = ['re', 'ab', 'ed']
strings.sort()
strings

['ab', 'ed', 're']

## Tuplas

* Son inmutables, asi como las cadenas de texto
* Una vez declarada una tupla solo la puedo leer los elementos que estan alli

In [79]:
numbers = (1, 2, 3, 4, 5)
strings = ('Laura', 'Ana', 'Alejandra')

In [80]:
print(numbers)
print(strings)

(1, 2, 3, 4, 5)
('Laura', 'Ana', 'Alejandra')

In [81]:
type(numbers)

tuple

In [82]:
type(strings)

tuple

In [83]:
numbers[0]

1

In [84]:
strings[0]

'Laura'

In [85]:
# Para buscar la posición de un elemento en una tupla
strings.index('Ana')

1

In [86]:
# Contar cuantas veces esta un elemento en una tupla
strings.count('Laura')

1

In [87]:
strings.count('Natalia')

0

In [88]:
# Convirtiendo de tupla a lista
lista = list(strings)
print(lista)

['Laura', 'Ana', 'Alejandra']

In [89]:
type(lista)

list

In [90]:
# De lista a tupla
tupla = tuple(lista)
print(tupla)

('Laura', 'Ana', 'Alejandra')

In [91]:
type(tupla)

tuple

## Diccionarios

### Definición y lectura

In [93]:
dicc = {
    'Lau' : 'Laura',
    'Aleja' : 'Alejandra',
    'Ani' : 'Ana',
    'edad' : 85,
    'Año': 1986
}

In [94]:
print(dicc)

{'Lau': 'Laura', 'Aleja': 'Alejandra', 'Ani': 'Ana', 'edad': 85, 'Año': 1986}

In [95]:
type(dicc)

dict

In [96]:
len(dicc)

5

In [97]:
dicc['edad']

85

In [98]:
dicc['Lau']

'Laura'

In [102]:
dicc.get('Año')

1986

In [104]:
#No arroja nada, porque no existe en el diccionario, pero tampoco genera un error
dicc.get('Natis')

In [105]:
'Ani' in dicc

True

In [106]:
'Natis' in dicc

False

### Inserción y actualización

In [115]:
person = {
    'name' : 'Laura',
    'lastname' : 'Sánchez',
    'langs': ['Python', 'PHP', 'JavaScript'],
    'age': 26
}

In [116]:
print(person)

{'name': 'Laura', 'lastname': 'Sánchez', 'langs': ['Python', 'PHP', 'JavaScript'], 'age': 26}

In [117]:
type(person)

dict

In [118]:
person['name'] = 'Alejandra'
print(person)

{'name': 'Alejandra', 'lastname': 'Sánchez', 'langs': ['Python', 'PHP', 'JavaScript'], 'age': 26}

In [119]:
person['age'] += 4
print(person)

{'name': 'Alejandra', 'lastname': 'Sánchez', 'langs': ['Python', 'PHP', 'JavaScript'], 'age': 30}

In [120]:
person['langs'].append('Rust')
print(person)

{'name': 'Alejandra', 'lastname': 'Sánchez', 'langs': ['Python', 'PHP', 'JavaScript', 'Rust'], 'age': 30}

In [121]:
# Eliminar un atributo
del person['age']
print(person)

{'name': 'Alejandra', 'lastname': 'Sánchez', 'langs': ['Python', 'PHP', 'JavaScript', 'Rust']}

In [122]:
# Se puede eliminar con pop
person.pop('name')
print(person)

{'lastname': 'Sánchez', 'langs': ['Python', 'PHP', 'JavaScript', 'Rust']}

In [123]:
# Items de un diccionario
# En una lista, devuelve los valores clave valor en tuplas
person.items()

dict_items([('lastname', 'Sánchez'), ('langs', ['Python', 'PHP', 'JavaScript', 'Rust'])])

In [124]:
# Keys de un diccionario
person.keys()

dict_keys(['lastname', 'langs'])

In [125]:
# Values de un diccionario
person.values()

dict_values(['Sánchez', ['Python', 'PHP', 'JavaScript', 'Rust']])

In [126]:
type(person.values())

dict_values

In [1]:
name = 'Mario Salvador'
name = name.replace('Mario', 'Juan')
print(name)

Juan Salvador

In [2]:
print('Holi')

Holi

In [3]:
int(4.56)

4