In [1]:
original = [1,2,3,4,5]
new = []

for x in original:
	new.append(x * 2)

new

[2, 4, 6, 8, 10]

In [2]:
list(map(lambda x : x*2, original))

[2, 4, 6, 8, 10]

In [3]:
[c for c in 'Platzi']

['P', 'l', 'a', 't', 'z', 'i']

In [4]:
a = {1,2}
b = {2,3}
print(a-b)

{1}

In [5]:
n = []
for i in range(1,6):
    if i <= 2:
        n.append(i-1)
n

[0, 1]

In [6]:
n = [i for i in range(1,6) if i <=2]
n

[1, 2]

In [7]:
n = [i-1 for i in range(1,6) if i <=2]
n

[0, 1]

In [8]:
#raise Exception('Error')
#Exception: Error

In [9]:
#assert true == false
#NameError: name 'true' is not defined

In [10]:
#pint('hello')
#NameError: name 'pint' is not defined

In [11]:
#print(0/0)
#ZeroDivisionError: division by zero

In [12]:
d = {}
for e in range(1,6):
    if e <=2:
        d[e] = e - 1

d

{1: 0, 2: 1}

In [13]:
{e: e-1 for e in range(1,6) if e <= 2}

{1: 0, 2: 1}

In [14]:
trips = {1,2,3,4,5}

In [15]:
len(trips)

5

In [16]:
sett = {1,1,1,1}
sett

{1}

In [17]:
names = {'Nicolas', 'Miguel', 'Juan', 'Nicolas'} 
print(names)

{'Nicolas', 'Miguel', 'Juan'}

In [18]:
a = {1,2}
b = {2,3}
print(a | b)

{1, 2, 3}

In [19]:
def suma(a,b):
    return a, b, a + b

In [20]:
suma(2,1)

(2, 1, 3)

In [21]:
a = suma(2,1)
type(a)

tuple

In [22]:
def sum(a=1,b=0):
    return a + b

In [23]:
sum(b=5)

6