# Listas y diccionarios

## String recargado

In [1]:
text = 'Ella sabe programar en Python'
print('JavaScript' in text)
print('Python' in text)

False
True

In [2]:
# Tamaño del string (contando los espacio)
len(text)

29

In [3]:
print(text)
# Todo a mayusculas
print(text.upper())
# Todo a minusculas
print(text.lower())

Ella sabe programar en Python
ELLA SABE PROGRAMAR EN PYTHON
ella sabe programar en python

In [4]:
# Contar cuantas veces se repite una letra en un texto
print(text.count('a'))

4

In [5]:
# De mayusculas a minusculas, y de minusculas a mayusculas
print(text)
print(text.swapcase())

Ella sabe programar en Python
eLLA SABE PROGRAMAR EN pYTHON

In [6]:
# Empieza con
text.startswith('Ella')

True

In [7]:
# Finaliza con
text.endswith('JavaScript')

False

In [8]:
# Reemplazar
text.replace('Python', 'Go')

'Ella sabe programar en Go'

In [9]:
text2 = 'este es un titulo'
print(text2)

este es un titulo

In [10]:
# Poner el primer caracter en mayuscula
text2.capitalize()

'Este es un titulo'

In [11]:
# Poner en mayusculas la primera letra de las palabras que componen la cadena de texto
text2.title()

'Este Es Un Titulo'

In [12]:
# Es un digito? 
text2.isdigit()

False

In [13]:
'4569'.isdigit()

True

In [14]:
opcion = input('Ingresa piedra, papel o tijera: ')

opcion = opcion.lower()

if opcion == 'piedra':
    print('papel')
elif opcion == 'papel':
    print('tijera')
elif opcion == 'tijera':
    print('piedra')
else:
    print('Por favor ingrese una opción valida para jugar')

papel

## Indexing y slicing

* Indexing --> Los textos tienen un indicador, en el cual yo puedo ingresar a nivel de posiciones
> Cada una de estas posiciones viene dada por un número especifico que es la posición donde se encuentra

* Slicing --> Basado en las posiciones de los caracteres dentro nuestro string, se pueden sacar ciertas partes del texto

In [15]:
texto = 'Ella sabe Python'

In [16]:
texto[0]

'E'

In [17]:
texto[1]

'l'

In [18]:
#texto[45]
#IndexError: string index out of range

In [19]:
texto[-1]

'n'

In [20]:
# Slicing
print(texto[0:5])

Ella

In [21]:
print(texto[10:16])

Python

In [22]:
# Si no se le dice nada al principio, asume el cero
print(texto[:10])

Ella sabe

In [23]:
# Si no se le dice nada al final, asume hasta el ultimo caracter
print(texto[5:])

sabe Python

In [24]:
print(texto[:])

Ella sabe Python

In [25]:
# En la tercera posición se pone los saltos, y se refiere a cuantos caracteres voy a saltar a partir de ese string
print(texto[10:16:1])
print(texto[10:16:2])
print(texto[10:16:3])
print(texto[10:16:4])

Python
Pto
Ph
Po

In [26]:
print(texto[::2])

El aePto

## Listas

* Puede guardar varios elementos de diferentes tipos
* Se puede almacenar información más compleja, de diferentes tipos en una estructura de datos

In [27]:
numbers = [1, 2, 3, 4, 5]
print(numbers)
print(type(numbers))

[1, 2, 3, 4, 5]
<class 'list'>

In [28]:
tasks = ['make the dishes', 'make the bed']
print(tasks)

['make the dishes', 'make the bed']

In [29]:
types = ['Hola', 1, True]
print(types)

['Hola', 1, True]

In [30]:
print(numbers[0])

1

In [31]:
print(tasks[0])

make the dishes

In [32]:
# Los string NO son mutables
#text = 'Hola'
#text[0] = 'W'
#TypeError: 'str' object does not support item assignment

In [33]:
# Las listas son mutables
tasks[0] = 'Watch Platzi courses'
print(tasks)

['Watch Platzi courses', 'make the bed']

In [34]:
numbers[:3]

[1, 2, 3]

In [35]:
True in types

True

In [36]:
'Holaa' in types

False

## Métodos de listas

CRUD --> Create, Read, Update & Delete 

En una estructura de datos, se deben poder hacer estas 4 tareas

In [37]:
# Crear
numbers = [1, 2, 3, 4, 5]
numbers

[1, 2, 3, 4, 5]

In [38]:
# Leer
numbers[3]

4

In [39]:
# Actualizar
numbers[4] = 6
numbers

[1, 2, 3, 4, 6]

In [40]:
# Agregar nuevos elementos a la lista
numbers.append(500)
numbers

[1, 2, 3, 4, 6, 500]

In [41]:
# Insertar al inicio de la lista
# insert(posicion en la lista, elemento a insertar)
numbers.insert(0, 'Holi')
numbers

['Holi', 1, 2, 3, 4, 6, 500]

In [42]:
numbers.insert(3, 'Permiso')
numbers

['Holi', 1, 2, 'Permiso', 3, 4, 6, 500]

In [43]:
# Fusianando listas
numbers + tasks

['Holi', 1, 2, 'Permiso', 3, 4, 6, 500, 'Watch Platzi courses', 'make the bed']

In [44]:
# Para saber en que posición esta un elemnto en una lista
numbers.index('Permiso')

3

In [45]:
numbers[3]

'Permiso'

In [46]:
# Para eliminar un elemento
numbers.remove('Holi')
numbers

[1, 2, 'Permiso', 3, 4, 6, 500]

In [47]:
# Eliminar el ultimo elemnto de una lista
numbers.pop()
numbers

[1, 2, 'Permiso', 3, 4, 6]

In [48]:
#pop(posicion)
numbers.pop(2)
numbers

[1, 2, 3, 4, 6]

In [49]:
# Cambiar de posición los elmentos de la lista con reverse()
print(numbers)

[1, 2, 3, 4, 6]

In [50]:
numbers.reverse()
numbers

[6, 4, 3, 2, 1]

In [51]:
# Ordenar los elementos de una lista (ordena de menor a mayor)
numbers1 = [1, 4, 6, 3]
numbers1.sort()
numbers1

[1, 3, 4, 6]

In [52]:
# El metodo sort tambien ordena los strings A --> Z (NO ORDENA LISTAS CON DIFERENTES TIPOS DE DATOS)
strings = ['re', 'ab', 'ed']
strings.sort()
strings

['ab', 'ed', 're']

## Tuplas

* Son inmutables, asi como las cadenas de texto
* Una vez declarada una tupla solo la puedo leer los elementos que estan alli

In [53]:
numbers = (1, 2, 3, 4, 5)
strings = ('Laura', 'Ana', 'Alejandra')

In [54]:
print(numbers)
print(strings)

(1, 2, 3, 4, 5)
('Laura', 'Ana', 'Alejandra')

In [55]:
type(numbers)

tuple

In [56]:
type(strings)

tuple

In [57]:
numbers[0]

1

In [58]:
strings[0]

'Laura'

In [59]:
# Para buscar la posición de un elemento en una tupla
strings.index('Ana')

1

In [60]:
# Contar cuantas veces esta un elemento en una tupla
strings.count('Laura')

1

In [61]:
strings.count('Natalia')

0

In [62]:
# Convirtiendo de tupla a lista
lista = list(strings)
print(lista)

['Laura', 'Ana', 'Alejandra']

In [63]:
type(lista)

list

In [64]:
# De lista a tupla
tupla = tuple(lista)
print(tupla)

('Laura', 'Ana', 'Alejandra')

In [65]:
type(tupla)

tuple

## Diccionarios

### Definición y lectura

In [66]:
dicc = {
    'Lau' : 'Laura',
    'Aleja' : 'Alejandra',
    'Ani' : 'Ana',
    'edad' : 85,
    'Año': 1986
}

In [67]:
print(dicc)

{'Lau': 'Laura', 'Aleja': 'Alejandra', 'Ani': 'Ana', 'edad': 85, 'Año': 1986}

In [68]:
type(dicc)

dict

In [69]:
len(dicc)

5

In [70]:
dicc['edad']

85

In [71]:
dicc['Lau']

'Laura'

In [72]:
dicc.get('Año')

1986

In [73]:
#No arroja nada, porque no existe en el diccionario, pero tampoco genera un error
dicc.get('Natis')

In [74]:
'Ani' in dicc

True

In [75]:
'Natis' in dicc

False

### Inserción y actualización

In [76]:
person = {
    'name' : 'Laura',
    'lastname' : 'Sánchez',
    'langs': ['Python', 'PHP', 'JavaScript'],
    'age': 20
}

In [77]:
print(person)

{'name': 'Laura', 'lastname': 'Sánchez', 'langs': ['Python', 'PHP', 'JavaScript'], 'age': 20}

In [78]:
type(person)

dict

In [79]:
person['name'] = 'Alejandra'
print(person)

{'name': 'Alejandra', 'lastname': 'Sánchez', 'langs': ['Python', 'PHP', 'JavaScript'], 'age': 20}

In [80]:
person['age'] += 4
print(person)

{'name': 'Alejandra', 'lastname': 'Sánchez', 'langs': ['Python', 'PHP', 'JavaScript'], 'age': 24}

In [81]:
person['langs'].append('Rust')
print(person)

{'name': 'Alejandra', 'lastname': 'Sánchez', 'langs': ['Python', 'PHP', 'JavaScript', 'Rust'], 'age': 24}

In [82]:
# Eliminar un atributo
del person['age']
print(person)

{'name': 'Alejandra', 'lastname': 'Sánchez', 'langs': ['Python', 'PHP', 'JavaScript', 'Rust']}

In [83]:
# Se puede eliminar con pop
person.pop('name')
print(person)

{'lastname': 'Sánchez', 'langs': ['Python', 'PHP', 'JavaScript', 'Rust']}

In [84]:
# Items de un diccionario
# En una lista, devuelve los valores clave valor en tuplas
person.items()

dict_items([('lastname', 'Sánchez'), ('langs', ['Python', 'PHP', 'JavaScript', 'Rust'])])

In [85]:
# Keys de un diccionario
person.keys()

dict_keys(['lastname', 'langs'])

In [86]:
# Values de un diccionario
person.values()

dict_values(['Sánchez', ['Python', 'PHP', 'JavaScript', 'Rust']])

In [87]:
type(person.values())

dict_values

In [88]:
name = 'Mario Salvador'
name = name.replace('Mario', 'Juan')
print(name)

Juan Salvador

In [89]:
print('Holi')

Holi

In [90]:
int(4.56)

4